<!DOCTYPE>
<html>
  <head>
    <title>Spotify Ironhack Express</title>
    <link rel="stylesheet" type="css/text" href="../public/stylesheets/style.css">
  </head>
  <body>
    <form action="post" action="/artist">
      <input id="artist" type="text" name="artist" placeholder="Enter artist name">
      <input type="submit">
    </form>
  </body>
</html>
